.board {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.board tr, .board td {
    border: 1px solid black;
}

tr {
    height: 100px;
}

td {
    width: 100px;
    font-size: 50px;
}

